@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, button {
  font-family: "Anton", sans-serif;
}

h1 {
  color: #fff;
  font-size: 4.209rem;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}

h2 {
  color: #F54F95;
  font-size: 3.157rem;
  margin-top: 0;
}

h3 {
  font-size: 2.369rem;
  text-transform: uppercase;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

#logo {
  width: 120px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav ul a {
  display: inline-block;
  background-color: #F54F95;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  margin-left: 1em;
  border: 1px solid #F54F95
}

header nav ul a:hover,
header nav ul a:focus {
  background-color: transparent;
  color: #F54F95;
}

#hero {
  height: 60vh;
  background-image: url(../images/hero-donuts.jpg);
  background-size: cover;
  background-position: center;
  background-color: #F54F95;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 4em 0
}

.product-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.product-card {
  border-radius: 14px;
  color: #fff;
  padding: 2em 1.25em;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-card:nth-child(1){
  background-color: #e1729a;
}

.product-card:nth-child(2){
  background-color: #c78e62;
}

.product-card:nth-child(3){
  background-color: #f1ad2c;
}

.product-card:nth-child(4){
  background-color: #2cd39c;
}

.product-card p {
  margin: .5em 0;
}

.product-card p.price {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2em;
}

.product-card button {
  background-color: white;
  color:#F54F95;
  font-size: 1.125rem;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  cursor: pointer;

  margin-top: auto;
}

.product-card button:hover,
.product-card button:focus {
  color: white;
  background-color:#F54F95;
}

footer {
  background-color: #F54F95;
  color: #fff;
  text-align: center;
  padding: .5em 0;
}

@media (min-width: 37.5em){

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

}


@media (min-width: 67.5em){

  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}



